<p class="scrolldown">
  <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
</p>

<!-- About Section
   ================================================== -->

<section id="about">

<div class="row">

   <div class="three columns">
        <%= image_tag("me/b.jpg", alt: "USC logo",) 
         %>

   </div>

   <div class="nine columns main-col">

      <h2>About Me</h2>

      <p>Christine Diane Estela Malazarte is my full name. Everybody calls me "ding" or "diane". I am type of a girl who is positive about every aspect of life. I really believe in the saying that "Be who you want to be, not what other want to see". There are many things I like to do in my life and one of it is to travel around the world with my family and friends, I think that is everyone's dream. But before that, when I already have a stable job, my first priority is to shoulder all the financial needs of my family, like I will be the one to earn for a living for them. My everday goal is not to be better than anyone else, but to be better than I used to be. 
      </p>
   </div> <!-- end .main-col -->
   
   <h2>Why IT?</h2>
      <center>
       <%= image_tag("it10.png", alt: "#", class: "pic1") 
        %>
       <%= image_tag("it11.png", alt: "#", class: "pic3") %>
       <%= image_tag("it6.jpg", alt: "#", class: "pic2") %>
      </center>

      <p>I am now a third year student taking up Bachleor of Arts in Information Technology of University of San Carlos. Why I choose IT? Well, aside from that this course is highly in demand, I choose this because it focuses the application of computers and computer software and I also like exploring different things about our technology today and I do love games and of course I want to experience making or developing my own game. The reason also why I choose IT is because I enjoy doing or making websites or any related to web design. There are really times that I'm having a hard time to pass a certain subject and then again thanks to my classmates and teachers for the unconditional support and help in order for me to pass that certain subject. The subject I'm referring to is IT 126. This course is really awesome because it brings me great happiness everytime I pass the test.</p>

</div>

</section> <!-- About Section End-->