 <!-- Contact Section
   ================================================== -->
   <section id="contact">
      <br>
        <center>
          <h1><p>Contact me or Follow me on</p></h1>
        </center> 
   </section> <!-- Contact Section End-->
