 <p class="scrolldown">
     <a class="smoothscroll" href="#portfolio"><i class="icon-down-circle"></i></a>
 </p>
 <!-- Project Section
   ================================================== -->
<section id="portfolio">

  <div class="row">
    <h1>Check Out Some of My Works.</h1>
    <center>
       <%= image_tag("studentDash.png", alt: "USC logo", class: "pic") 
        %>
        <h5>DS Portal</h5>
        <p>DS Portal is a system designed to provide communication between the Datalogics Society officers and members.</p>
        <%= image_tag("vox.PNG", alt: "USC logo", class: "pic") %>
        <h5>VOX</h5>
        <p>VOX is a web-based system that lets you listen to what you love and share the sounds you create.</p>
        <%= image_tag("signUpForm.PNG", alt: "USC logo", class: "pic") %>
        <h5>Dental Clinic System</h5>
        <p>DCS is a system capable of tracking transactions from scheduling of appointment. It is also designed to facilitate patient records.</p>

        

     </center>
  </div> <!-- row End -->

</section> <!-- Project Section End-->