<p class="scrolldown">
 <a class="smoothscroll" href="#skills"><i class="icon-down-circle"></i></a>
</p>

<!-- Skills Section
   ================================================== -->

<section id = "resume">

  <div class="row skill" id ="skills">

   <div class="three columns header-col"><br>
      <h1><span>Skills</span></h1>
      <%= image_tag("me/k.jpeg", alt: "USC logo") 
         %>
      
   </div>

   <div class="nine columns main-col">


  <div class="bars">
  <br><br><br>
     <ul class="skills">
      <li><span class="bar-expand photoshop"></span><em>HTML5</em></li>
      <li><span class="bar-expand illustrator"></span><em>Illustrator</em></li>
      <li><span class="bar-expand wordpress"></span><em>Ruby</em></li>
      <li><span class="bar-expand css"></span><em>Photoshop</em></li>
      <li><span class="bar-expand html5"></span><em>CSS</em></li>
      <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
    </ul>

  </div><!-- end skill-bars -->

  </div> <!-- main-col end -->

  </div> <!-- End skills -->

</section> <!-- Skills Section End-->