<footer>

      <div class="row">

         <div class="twelve columns">
            
            <ul class="social-links">
               <li><a href="https://www.facebook.com/chinn015"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/chinnsaw015"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/u/0/100990744150228435895"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://github.com/chinn015"><i class="fa fa-github"></i></a></li>
              
            </ul>

           

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->
