<footer>

      <div class="row">

         <div class="twelve columns">
            
            <center>   
                <%= link_to image_tag("facebook.png", alt: "Rails logo", class: "social-logo1"),
             'https://www.facebook.com/chinn015' %>
               <%= link_to image_tag("twitter.png", alt: "Rails logo", class: "social-logo1"),
                 'https://twitter.com/chinnsaw015' %>    
               <%= link_to image_tag("google.png", alt: "Rails logo", class: "social-logo1"),
                  'https://plus.google.com/u/0/100990744150228435895' %>
               <%= link_to image_tag("github.png", alt: "Rails logo", class: "social-logo1"),
                 'https://github.com/chinn015' %>
            </center> 
           

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->
